
@media all and (max-width: 1000px) {

  .map {
    padding-top: 50px;
    float: left;
  }
  
}


@media all and (max-width: 670px) {

  .map {
    padding-top: 50px;
    float: left;
  }

  input textarea {
    width: 100%;
  }

}
