@media all and (max-width: 1170px) {

  .map {
    padding-top: 50px;
    float: left;
    width: 100%;
  }

  .coontact-form {
    float: none;
  }

  input, textarea {
    width: 850px;
}
  
}


@media all and (max-width: 670px) {

  .map {
    padding-top: 50px;
    float: left;
    width: 100%;
  }

  input, textarea {
    width: 650px;
  }


}
